body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #1D2671, #C33764);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Noto Sans', sans-serif !important; 
}

.form-control:focus {
    box-shadow: none !important;

}

.product img {
    height: 150px;
    object-fit: contain;
}
